<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">It's  Post List Component</div>

                    <div class="card-body">
                        <div v-for="post in posts" v-bind:key="post.uid">
                            <h5>{{ post.title}}</h5>
                            <p>{{post.body}}</p>
                            <span>written by {{post.user.name}}</span>
                            <br>
                            <hr>
                        </div>
                    </div>

                    <input type="text" v-model="author_name">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
			return {
                posts : '',
                author_name : "sithu"
			};
		},
        mounted() {
            this.getPosts();
        },

        methods : {
            getPosts(){
                axios.get('/api/posts').then((response) => {
                    console.log(response.data.data);
                    this.posts = response.data.data;
                })
            }     
        }
    }
</script>
